# Python
venv/
env/
__pycache__/
*.pyc

# ML Models
*.pth
*.pt
*.h5

# Environment
.env

# Uploads
uploads/

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Project Specific
zip/
code done.txt
info.txt
backend/core/code.txt
backend/ml_models/docs/